/example/codelite/.codelite/refactoring.db
/example/bin/example_debug
*.d
*.o
*.so
*.session
*.tags
.DS_Store
*.pbxuser
*.mode1v3
example/ofxFensterExample.xcodeproj/phwhitfield.pbxuser
example/ofxFensterExample.xcodeproj/phwhitfield.mode1v3
exampleMultipleGraphicCards/ofxFensterExample.xcodeproj/phwhitfield.pbxuser
exampleMultipleGraphicCards/ofxFensterExample.xcodeproj/phwhitfield.mode1v3
xcuserdata

*/phwhitfield.*
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/GLUT
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Headers
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Resources
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/GLUT
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/copy.h
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/extrude.h
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glsmap.h
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glsmapint.h
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glut.h
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glutbitmap.h
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glutf90.h
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glutstroke.h
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/gutil.h
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/intersect.h
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/port.h
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/rot.h
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/segment.h
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/tube.h
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/tube_gc.h
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/vvector.h
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/Caution.tiff
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUT.nib/classes.nib
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUT.nib/info.nib
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUT.nib/objects.nib
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTClipboard.nib/classes.nib
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTClipboard.nib/info.nib
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTClipboard.nib/objects.nib
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTPreferences.nib/classes.nib
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTPreferences.nib/info.nib
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTPreferences.nib/objects.nib
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTUI.strings
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/InfoPlist.strings
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/Info.plist
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/blankCursor.tiff
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/bottomCursor.tiff
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/bottomleftCursor.tiff
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/bottomrightCursor.tiff
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/crossCursor.tiff
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/cycleCursor.tiff
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/destroyCursor.tiff
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/fingerCursor.tiff
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/helpCursor.tiff
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/leftCursor.tiff
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/leftRightCursor.tiff
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/rightArrowCursor.tiff
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/rightCursor.tiff
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/sprayCursor.tiff
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/topCursor.tiff
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/topleftCursor.tiff
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/toprightCursor.tiff
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/upDownCursor.tiff
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/waitCursor.tiff
example/bin/exampleDebug.app/Contents/Frameworks/GLUT.framework/Versions/Current
example/bin/exampleDebug.app/Contents/Info.plist
example/bin/exampleDebug.app/Contents/MacOS/exampleDebug
example/bin/exampleDebug.app/Contents/PkgInfo
example/bin/exampleDebug.app/Contents/Resources/icon-debug.icns
